@charset "utf-8";

*{padding:0; margin:0; box-sizing: border-box; list-style:none;}
a{text-decoration:none; color:#222;}
button{background:none; border:none; cursor:pointer;}
.radius_btn{width:130px; height:40px; border-radius: 20px;
    background: #FFCAD6; color:white; font-size:15px;}
h3{font-size:60px; }


#wrap{width:100%; margin:100px auto 0 auto;}
header{width:100%; height:100px; background:rgb(240, 5, 71,0.5);
     position:fixed; z-index:100; top:0;}
header button{width:50px; height:50px; margin: 25px; float:left; background:gold;}
header h1{float:left; margin-left:35%; line-height:100px;}
header nav{width:600px; height:100%; border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position:fixed; left:-320px; top:0; z-index:90;
    display:none;}
header nav ul{position:absolute; left:380px; top:30%; }
header nav li, header nav li a {color:white; font-size:22px; line-height:30px; margin-top:20px; }
header nav li a:hover{color:pink; border-bottom:3px solid pink;}   

#slider{width:100%; height:750px; overflow: hidden; margin: 0 auto;
    position: relative; z-index:80;
    background:#fffafe;}
.slider_inner{width:2600px; height:130%; border-radius: 100%;
    position: absolute; left:50%; margin-left:-1300px; top:-280px;
    background:pink;
    text-align:center;}

.slider_ininner{width:1000px; height:600px; margin:0 auto; position:relative;
    left:0; top:280px; border:1px solid red;}
.slider_ininner h2{font-size:50px; line-height:60px; padding:10px 0;}
.slider_ininner img{display: block;}
.slider_ininner img:nth-of-type(1){width:500px; height:400px; margin:20px auto; background:gold;}
.slider_ininner img:not(:nth-of-type(1)){width:200px; height:300px; background:tomato;
position:absolute;top:0%;}
.slider_ininner img:nth-of-type(2){margin:180px 0 0 100px; transform: rotate(-20deg);}
.slider_ininner img:nth-of-type(3){margin:260px 0 0 700px; transform: rotate(20deg);}


#section1{width:100%; height:800px; background:#fffafe; position:relative; }
#section1 .middle{width:1000px; height:700px; margin: 0 auto;  background:#fffafe;
    display:flex; justify-content:space-around ; align-items: center;  position:relative; z-index:70;}
#section1 p{font-size:14px;padding:40px 0;}  
#section1 .middle .img_box{width:420px; height:550px; background:gold;
    border-top-left-radius:210px; border-top-right-radius:210px;}
#section1 .middle img{width:300px; height:400px; background:tomato;
    position:relative; margin:180px 0 0 60px}
#section1 .befor_after{width:100%;  top:40%; transform:translateY(-40%); position: absolute;
    display: flex; justify-content: space-between;  z-index:69;}    
#section1 .befor,#section1 .after{width:300px; height:400px; background:tomato;   }
.section1_btn{width:100%; text-align:center;margin-top:30px;}
.section1_btn button{width:35px; height:35px; border-radius: 100%; padding:12.5px;}
.section1_btn button:nth-of-type(2){margin:0 10px;}
.section1_btn button:first-of-type{border:1px solid pink; }
.section1_btn div{width:8px; height:8px; 
    background:lightgray; transform: rotate(45deg); }
.section1_btn button:first-of-type div{background:pink;}


#section2{width:100%; height:700px;  background:linear-gradient( to bottom, #fffafe, #f4e2d2)}
.section2_inner{width:1000px; height:700px; margin:0 auto; position:relative;
    display:flex; flex-wrap: wrap;}
.section2_inner div{position:absolute; top: 15%;}    
.section2_inner img{width:420px; height:570px; margin:70px auto 0 auto; background:gold;
    border-top-left-radius:210px; border-top-right-radius:210px;}    
.section2_inner p{position:absolute; right:0; top: 80%; font-size:14px;}



.banner{width:100%; height:50px; line-height:50px; display:flex; justify-content:space-evenly;}
.banner p:nth-of-type(odd){color:#ffa6b9;}
.banner p:nth-of-type(even){color:#ffcad6;}





















footer {
    background:#ddcbbe;

}